In [14]:
import torch
import torch.nn as nn 
import torch.optim as optim 
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from google.colab import files

In [33]:
files.upload()
df = pd.read_csv("train.csv")

Saving train.csv to train (2).csv

In [34]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [35]:
# Intuitive feature engineering, 
# Pclass would serve as a proxy for socioeconomic status, indicating higher likelihood of finding a boat, as well as fair 
# Sex and Age are also accounted for, Survived will be the dependent variable
df = df[["Pclass", "Sex", "Age", "Fare", "Survived"]]

In [36]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [37]:
df.info() # have some null values for age, will fill them with the mean of each feature

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [38]:
mean_age = df['Age'].mean()
df.fillna(mean_age,axis=1,inplace=True)

df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [39]:
#converting sex to nominal values
df['Sex'] = df['Sex'].map({"male":0, "female":1})
df.head()

   Pclass  Sex   Age     Fare  Survived
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         1
3       1    1  35.0  53.1000         1
4       3    0  35.0   8.0500         0

In [40]:
x = df[['Pclass', 'Sex', 'Age', 'Fare']].values 
y = df['Survived'].values

In [41]:
sc = StandardScaler()
x = sc.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .2) # 80% of data set will be used for training

In [42]:
#converting to tensors
x_train, x_test = torch.tensor(x_train, dtype = torch.float32), torch.tensor(x_test, dtype = torch.float32)
y_train, y_test = torch.tensor(y_train,  dtype = torch.float32), torch.tensor(y_test,  dtype = torch.float32)

In [43]:
y_train = y_train.view(-1,1)

y_train.shape

input_size = 4 # "Pclass", "Sex", "Age", "Fare"
output_size = 1 # 'Survived'

In [44]:
model = nn.Sequential(nn.Linear(input_size, output_size),nn.Sigmoid())

In [45]:
#hyper-paramters
learning_rate = .01
iters = 10000

criterion = nn.BCELoss() #binary classification loss
optimizer = optim.SGD(model.parameters(), lr = learning_rate) #stochastic gradient descent

In [46]:
for epoch in range(iters):
  y_pred = model(x_train)
  loss = criterion(y_pred, y_train)
  loss.backward() #backpropogation
  optimizer.step()
  optimizer.zero_grad()

  if epoch % 100 == 0: 
    print("Epoch: {}, loss: {}".format(epoch, loss))

Epoch: 0, loss: 0.6780282855033875
Epoch: 100, loss: 0.59254390001297
Epoch: 200, loss: 0.5454593896865845
Epoch: 300, loss: 0.5189638733863831
Epoch: 400, loss: 0.5032781362533569
Epoch: 500, loss: 0.49344998598098755
Epoch: 600, loss: 0.4869846701622009
Epoch: 700, loss: 0.4825620651245117
Epoch: 800, loss: 0.4794398546218872
Epoch: 900, loss: 0.47717753052711487
Epoch: 1000, loss: 0.4755013585090637
Epoch: 1100, loss: 0.4742353558540344
Epoch: 1200, loss: 0.47326260805130005
Epoch: 1300, loss: 0.4725034832954407
Epoch: 1400, loss: 0.4719028174877167
Epoch: 1500, loss: 0.47142139077186584
Epoch: 1600, loss: 0.4710310995578766
Epoch: 1700, loss: 0.47071126103401184
Epoch: 1800, loss: 0.47044673562049866
Epoch: 1900, loss: 0.470225989818573
Epoch: 2000, loss: 0.4700404107570648
Epoch: 2100, loss: 0.4698833227157593
Epoch: 2200, loss: 0.4697495400905609
Epoch: 2300, loss: 0.469635009765625
Epoch: 2400, loss: 0.4695364832878113
Epoch: 2500, loss: 0.4694513976573944
Epoch: 2600, loss: 0.46937766671180725
Epoch: 2700, loss: 0.46931353211402893
Epoch: 2800, loss: 0.469257652759552
Epoch: 2900, loss: 0.46920880675315857
Epoch: 3000, loss: 0.4691660702228546
Epoch: 3100, loss: 0.4691286087036133
Epoch: 3200, loss: 0.46909573674201965
Epoch: 3300, loss: 0.4690668284893036
Epoch: 3400, loss: 0.4690413773059845
Epoch: 3500, loss: 0.46901899576187134
Epoch: 3600, loss: 0.46899929642677307
Epoch: 3700, loss: 0.4689818322658539
Epoch: 3800, loss: 0.46896639466285706
Epoch: 3900, loss: 0.46895289421081543
Epoch: 4000, loss: 0.46894100308418274
Epoch: 4100, loss: 0.46893033385276794
Epoch: 4200, loss: 0.46892106533050537
Epoch: 4300, loss: 0.4689127802848816
Epoch: 4400, loss: 0.4689054489135742
Epoch: 4500, loss: 0.4688989520072937
Epoch: 4600, loss: 0.46889328956604004
Epoch: 4700, loss: 0.46888822317123413
Epoch: 4800, loss: 0.46888378262519836
Epoch: 4900, loss: 0.4688798189163208
Epoch: 5000, loss: 0.46887630224227905
Epoch: 5100, loss: 0.46887317299842834
Epoch: 5200, loss: 0.4688704311847687
Epoch: 5300, loss: 0.46886804699897766
Epoch: 5400, loss: 0.46886590123176575
Epoch: 5500, loss: 0.4688640236854553
Epoch: 5600, loss: 0.46886229515075684
Epoch: 5700, loss: 0.46886080503463745
Epoch: 5800, loss: 0.46885946393013
Epoch: 5900, loss: 0.46885836124420166
Epoch: 6000, loss: 0.4688573181629181
Epoch: 6100, loss: 0.4688563942909241
Epoch: 6200, loss: 0.4688555598258972
Epoch: 6300, loss: 0.4688548743724823
Epoch: 6400, loss: 0.46885424852371216
Epoch: 6500, loss: 0.4688537120819092
Epoch: 6600, loss: 0.4688531756401062
Epoch: 6700, loss: 0.4688527286052704
Epoch: 6800, loss: 0.46885231137275696
Epoch: 6900, loss: 0.46885204315185547
Epoch: 7000, loss: 0.4688517153263092
Epoch: 7100, loss: 0.4688514173030853
Epoch: 7200, loss: 0.4688512086868286
Epoch: 7300, loss: 0.4688509702682495
Epoch: 7400, loss: 0.4688508212566376
Epoch: 7500, loss: 0.46885058283805847
Epoch: 7600, loss: 0.4688505232334137
Epoch: 7700, loss: 0.46885034441947937
Epoch: 7800, loss: 0.4688502550125122
Epoch: 7900, loss: 0.46885016560554504
Epoch: 8000, loss: 0.4688500463962555
Epoch: 8100, loss: 0.46884995698928833
Epoch: 8200, loss: 0.46884989738464355
Epoch: 8300, loss: 0.4688498377799988
Epoch: 8400, loss: 0.468849778175354
Epoch: 8500, loss: 0.46884968876838684
Epoch: 8600, loss: 0.4688495993614197
Epoch: 8700, loss: 0.46884965896606445
Epoch: 8800, loss: 0.46884965896606445
Epoch: 8900, loss: 0.4688495993614197
Epoch: 9000, loss: 0.4688495695590973
Epoch: 9100, loss: 0.4688495695590973
Epoch: 9200, loss: 0.4688495695590973
Epoch: 9300, loss: 0.4688495397567749
Epoch: 9400, loss: 0.4688494801521301
Epoch: 9500, loss: 0.46884945034980774
Epoch: 9600, loss: 0.46884945034980774
Epoch: 9700, loss: 0.46884945034980774
Epoch: 9800, loss: 0.46884945034980774
Epoch: 9900, loss: 0.46884939074516296

In [47]:
pred = model(x_test).round()

In [48]:
# accuracy of model 
print(accuracy_score(y_test.detach().numpy(), pred.detach().numpy() ))

0.8044692737430168